body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Geneva, Tahoma, sans-serif;
}

header {
  height: 80px;
  line-height: 80px;
  background-color: white;
}

header img {
  height: 50px;
}

main {
  background-color: #7EFCD4;
  height: calc(100vh - 130px);
}

footer {
  height: 50px;
  line-height: 50px;
  background-color: #fff;
}

.main-text {
  font-size: 24px;
  font-weight: 900;
}



#grid {
  display: block;
  width: 500px;
  height: 500px;
}

.square {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.square.easy {
  width: calc(100% / 10);
  height: calc(100% / 10);
}

.square.normal {
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.square.hard {
  width: calc(100% / 7);
  height: calc(100% / 7);
}